%nav.navbar.navbar-expand-lg.navbar-light.nav-company-styles
  %a.navbar-brand{href: "#"} Fly.me
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{href: "/"}
          Home
          %span.sr-only
      %li.nav-item
        %a.nav-link{href: "/contests"} Contests
    %ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
      - if user_signed_in?
        %li.nav-item= link_to("#{current_user.name}", edit_user_registration_path, class: "nav-link")
        %li.nav-item= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"
      - else
        %li= link_to "Login", new_user_session_path, class: "nav-link"
